page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
  img {
    height:400px !important;
    object-fit: cover;
     width: 100% !important;
  }
}

.prod-desc{
  word-break: break-word;
  white-space: pre-wrap;
}
.nofound{
  text-align: center;
 
}
.iconshare{
  float: right;
  font-size: 25px;
}
.openCart{
  float:right;
}
